body{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;        
    }
h1{
    font-weight: 700;
}
h1, h2{
    font-size:2em;
}
.container-fluid{
    width:70%;
    margin:15%;
}
.description{
    color:#ADADAD;
}
.left, .right{
    display:inline-block;
}
.line{
    background:#f2f2f2;
    border-bottom:solid 0.1em #fff;
    margin:0px;
}
.panel-heading{
    border-radius:0.5em 0.5em 0 0;
    background:#20A1CE;
    color:#fff;
    padding:0.75em 2em;
}
.panel-body{
    border-radius:0 0 0.5em 0.5em;
    background:#F2F2F2 0 2em;
}
.row{
    padding:0;
    display:block;
}
/* Small screen */
@media(max-width:767px){
    body{
        font-size:0.6em;
    }
    .left{
        width:80%;
    }
    .right{
        width:15%;
    }
}
/*Medium screen */
@media(min-width:768px){
    body{
        font-size:0.75em;
    }
    .left{
        width:81.25%;
    }
    .right{
        width:15%;
    }
}
/* Large screen */
@media(min-width:992px){
    body{
        font-size:1em;
    }
    .left{
        width:82.5%;
    }
    .right{
        width:15%;
    }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}